@import './base.css';

:root {
  --logo-blue: #1255cc;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
